html {
    font-size: 62.5%;
}

body {
    font-family: "Nunito", sans-serif;
}

.superinfo-bg {
    background-color: #122ab2;
    font-size: 1.6rem;
    color: #ffffff;
}

.superinfo-bg .superinfo {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
}

.superinfo-bg .superinfo a {
    color: #ffffff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: #2c70ff;
}

.header .logo {
    font-size: 1.8rem;
    color: #ffffff;
}

.menu {
    display: flex;
}

.menu li {
    font-size: 2rem;
}

.menu li a {
    color: #ffffff;
    padding: 10px;
}

.menu li a:hover {
    transition: 0.3s ease-in-out;
    color: #10327b;
}

.introducao {
    display: block;
    padding: 60px 10px;
    margin: 0 160px;
    font-size: 4rem;
}

.sobre .sobre-info p {
    font-size: 2rem;
    margin-bottom: 5px;
    color: #7c7c7c;
}
