html {
    font-size: 62.5%;
}

body {
    font-family: "Nunito", sans-serif;
    height: 1000px;
}

.alinhamento {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
}

.superinfo-bg {
    background-color: #122ab2;
    font-size: 1.6rem;
    color: #ffffff;
}

.superinfo-bg .superinfo {
    padding: 10px 10px;
}

.superinfo-bg .superinfo a {
    color: #ffffff;
}

.header {
    padding: 15px;
    background-color: #2c70ff;
}

.header .logo {
    margin: 0 10px;
    font-size: 1.8rem;
    color: #ffffff;
}

.menu {
    display: flex;
}

.menu li {
    font-size: 2rem;
}

.menu li a {
    color: #ffffff;
    padding: 10px;
}

.menu li a:hover {
    transition: 0.3s ease-in-out;
    color: #10327b;
}

.introducao {
    max-width: 960px;
    padding: 60px 10px;
    margin: 0 auto;
    font-size: 4.8rem;
    line-height: 1;
}

.sobre {
    border-top: 2px solid #2c70ff;
}

.sobre .sobre-info p {
    font-size: 2rem;
    margin: 0 10px 10px;
    color: #7c7c7c;
}
